@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:wght@400;700&display=swap');

body {
  display: grid;
  grid-template-areas: 
          'header header'
          'main aside'
          'footer footer';
  grid-gap: 10px;
  grid-template-columns: 1fr 450px;
  grid-template-rows: 180px 1fr;
  max-width: 100%;
  background-image: url(https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/featured.jpg);
  font-family: 'Charis SIL', serif;
  min-height: 100vh;
  margin: 0;
  position: relative;
  font-size: larger;
  font-weight: 700;
}

header {
  grid-area: header;
  max-height: 180px;
  background-image: url(bgheader.png);
  background-size: cover;
  min-width: 850px;
  position: sticky;
  top: 0;
  left: 0;
  color: rgb(173, 173, 173);
  z-index: 100;
}

aside {
  grid-area: aside;
  align-self: start;
  margin: 20px;
  margin-top: 10px;
  padding-top: 10px;
  background-image: linear-gradient(45deg, rgba(28, 41, 217, 0.440), rgba(146, 17, 17, 0.440));
  background-size: cover;
  text-align: center;
  color: rgb(173, 173, 173);
}

main {
  grid-area: main;
  justify-self: start;
  margin-left: 60px;
  min-width: 685px;
  color: rgb(173, 173, 173);
  /* position: relative; */
}

hr {
  width: 85%;
}

footer {
  margin-top: 60px;
  grid-area: footer;
  text-align: center;
  font-size: 18px;
  color: rgb(173, 173, 173);
}

.navigation {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  padding: 10px;
  list-style: none;
  text-indent: 20px;
  font-size: 24px;
  font-style: bold;
  margin-top: 10px;
}

h1 {
  text-indent: 40px;
  font-size: 42px;
  margin-bottom: 0;
  word-spacing: 10px;
  max-width: 580px;
  background-color: rgba(0, 0, 0, 0.715);
  display: flex;
}

h1 img {
  float: left;
  align-self: center;
  padding-left: 30px;
}

h2, h3 {
  text-indent: 20px;
  font-size: 42px;
}

li {
  background-color: rgba(0, 0, 0, 0.723);
}

li:last-child{
  padding-right: 20px;
}

a {
  text-decoration: none;
  transition: all 1s ease;
  color: rgb(173, 173, 173);
}

a:visited {
  color: rgb(173, 173, 173);
}

a:hover {
  text-decoration: underline;
}

.logo {
  transition: all 1s ease;
}

.logo:hover {
  transform: scale(1.4);
}

.img {
  transition: all 1s ease;
  margin-bottom: 5px;
}

.img:hover {
  transform: scale(1.4);
}

.video {
  justify-self: center;
}


main p {
  font-size: 20px;
  line-height: 32px;
}
.practice {
  font-size: 70px;
}

main p::first-letter {
  font-size: 60px;
}

main img {
  float: left;
  margin-right: 30px;
}

main p {
  margin-bottom: 60px;
}

aside p {
  padding: 0 10px;
}

.reklama {
  width: 330px;
  padding-top: 10px;
  transition: none;
  box-shadow: 9px 12px 15px rgba(0,0,0,25);
}

.reklama:hover {
  transform: none;
}

table, 
tr, 
td, 
th {
  border: 2px solid rgb(173, 173, 173);
  padding: 10px;
}

th {
  font-size: 28px;
}

table {
  margin-bottom: 20px;
}
.table {
  display: flex;
  justify-content: center;
}

table img {
  margin: 7.5px;
  width: 110px;
  height: 80px;
}

.form {
  margin-top: 40px;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
}

textarea {
  background-color: rgba(0, 0, 0, 0.258);
  color: rgb(173, 173, 173) !important;
}

input {
  background-color: rgba(0, 0, 0, 0.258);
  color: rgb(173, 173, 173);
}

.textinput {
  margin: 5px;
  color: rgb(173, 173, 173);
}

.comments {
  margin: 5px;
}

#comments {
  color: rgb(173, 173, 173);
  background-color:rgb(173, 173, 173);
}

.submit {
  margin: 5px;
}

#submit {
  padding: 10px;
  border-radius: 20px;
  opacity: 0.9;
  transition: all 0.3s ease;

}

#submit:hover {
  transform: scale(1.2);
  opacity: 0.9;
  cursor: pointer;

}

iframe {
  margin-bottom: 40px;
}

h4 {
  font-size: 24px;
}
